contracts/hardhat-dependency-compiler/
typechain-types/
node_modules/
deployments/
artifacts/
typechain/
coverage/
build/
cache/

deployments/**/*.json
package-lock.json
yarn-error.log
contracts.json
coverage.json
yarn.lock

.Ds_Store
.vscode
.env
